#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        // セミコロン：タップで ;、140msホールド中だけスクロールLayer 4
        scroll_hold: scroll_hold {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <140>;
            bindings = <&mo>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <13 14>;
            layers = <2>;
        };

        // Ctrl+Enter：右親指の左側2キー（IME/L2 + L3/Enter）
        combo_ctrl_enter {
            bindings = <&kp LC(ENTER)>;
            key-positions = <38 39>;
            layers = <0>;
            timeout-ms = <50>;
        };

        // === マウス操作コンボ（右手ホームロー隣接） ===
        // timeout-ms を短く、require-prior-idle-ms でタイピング直後の誤爆を防止

        // 左クリック：J + K
        combo_lclk {
            bindings = <&mkp LCLK>;
            key-positions = <16 17>;
            layers = <0 2 3 4>;
            timeout-ms = <40>;
            require-prior-idle-ms = <125>;
        };

        // 右クリック：K + L
        combo_rclk {
            bindings = <&mkp RCLK>;
            key-positions = <17 18>;
            layers = <0 2 3 4>;
            timeout-ms = <40>;
            require-prior-idle-ms = <125>;
        };

        // 戻る（MB4）：H + J
        combo_back {
            bindings = <&mkp MB4>;
            key-positions = <15 16>;
            layers = <0 2 3 4>;
            timeout-ms = <40>;
            require-prior-idle-ms = <125>;
        };

        // 進む（MB5）：, + .
        combo_fwd {
            bindings = <&mkp MB5>;
            key-positions = <29 30>;
            layers = <0 2 3 4>;
            timeout-ms = <40>;
            require-prior-idle-ms = <125>;
        };

    };

    macros {
        compatible = "zmk,macros";

        // "LGTM!!" を一発入力（US配列：Shift押しっぱなしで l g t m 1 1）
        lgtm: lgtm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <5>;
            tap-ms = <5>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp L &kp G &kp T &kp M &kp N1 &kp N1>
                , <&macro_release &kp LSHFT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
                &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &kp BSPC
                &kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
                &kp CAPS   &kp A      &kp S      &kp D      &kp F      &kp G      &mkp LCLK  &mkp RCLK  &kp H      &kp J      &kp K      &kp L      &scroll_hold 4 SEMI  &kp SQT
                &kp LSHFT       &kp Z           &kp X           &kp C           &kp V           &kp B           &mo 1           &kp ENTER       &kp N           &kp M           &kp COMMA       &kp DOT         &mt RSHFT FSLH  &kp RSHFT
                &kp LCTRL            &kp LCTRL            &kp LGUI             &kp LALT             &kp BSPC             &lt 2 SPACE          &mt LSHFT LC(SPACE)  &lt 2 RC(SPACE)  &lt 3 ENTER          &kp BSPC             &kp RALT             &kp RGUI             &kp RCTRL            &kp RCTRL
            >;
        };

        // Codexレイヤー：S配列の左手最内側Spaceをホールド中、右手側でCodexを操作
        // Windows版Codex 26.721系の既定ショートカットを使用
        codex_layer {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &kp LC(LS(G))     &kp LC(GRAVE)  &kp LC(T)          &kp LC(LS(E))     &kp LC(K)       &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &kp LC(LBKT)       &kp LC(LS(LBKT))  &kp LC(LS(RBKT)) &kp ESC     &kp ENTER       &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans            &kp LC(F)       &kp LC(N)          &kp LC(LS(M))     &kp LC(LS(TAB))  &kp LC(TAB)  &kp LC(FSLH)    &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans            &trans          &kp ENTER          &kp LC(LS(D))     &trans           &trans      &trans          &trans
            >;
        };

        layer_2 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans      &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &trans
                &trans  &kp N1  &kp N2  &kp N3  &kp N0  &trans  &trans  &trans  &kp LS(LBKT)  &kp MINUS  &kp EQUAL  &kp LS(RBKT)  &kp LS(SEMI)  &trans
                &trans  &kp N4  &kp N5  &kp N6  &trans  &trans  &trans  &lgtm  &kp LS(MINUS)  &kp LS(EQUAL)  &kp LBKT  &kp RBKT  &kp BSLH  &trans
                &trans  &kp N7  &kp N8  &kp N9  &trans  &trans  &trans  &trans  &kp TAB  &kp DEL  &trans  &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans     &kp F1     &kp F2     &kp F3     &kp F4     &kp F5     &kp HOME   &kp PG_UP  &kp PG_DN  &kp END    &kp ESC    &trans
                &trans     &kp F6     &kp F7     &kp F8     &kp F9     &kp F10    &trans     &trans     &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp TAB    &trans
                &trans         &kp F11        &kp F12        &out OUT_USB   &out OUT_BLE   &bt BT_NXT     &bt BT_CLR     &trans         &kp SQT        &kp LS(SQT)    &kp GRAVE      &kp LS(GRAVE)  &kp LS(BSLH)   &trans
                &trans   &trans   &trans   &trans   &kp DEL  &kp TAB  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
            >;
        };

        layer_4 {
            bindings = <
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

    };
};
